In [1]:
import pandas as pd

In [95]:
d=pd.read_csv("spam.csv",encoding='Windows-1252')

In [96]:
d.head()

   type                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [97]:
d['spam']=d['type'].map({'spam':1,'ham':0}).astype(int)
d.head()

   type                                               text  spam
0   ham  Go until jurong point, crazy.. Available only ...     0
1   ham                      Ok lar... Joking wif u oni...     0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3   ham  U dun say so early hor... U c already then say...     0
4   ham  Nah I don't think he goes to usf, he lives aro...     0

In [98]:
t=len(d['type'])
print("NO of rows in review coloumn: ",t)

NO of rows in review coloumn:  116

In [99]:
#Tokenization
def tokenizer(text):
  return text.split()

d['text']=d['text'].apply(tokenizer)

In [100]:
#checking some data
d['text'][2]

['Free',
 'entry',
 'in',
 '2',
 'a',
 'wkly',
 'comp',
 'to',
 'win',
 'FA',
 'Cup',
 'final',
 'tkts',
 '21st',
 'May',
 '2005.',
 'Text',
 'FA',
 'to',
 '87121',
 'to',
 'receive',
 'entry',
 'question(std',
 'txt',
 "rate)T&C's",
 'apply',
 "08452810075over18's"]

In [101]:
#Stemming
from nltk.stem.snowball import SnowballStemmer
porter=SnowballStemmer("english",ignore_stopwords=False)

In [102]:
def stem_it(text):
  return [porter.stem(word) for word in text]

d['text']=d['text'].apply(stem_it)

In [103]:
#check random text
d['text'][2]

['free',
 'entri',
 'in',
 '2',
 'a',
 'wkli',
 'comp',
 'to',
 'win',
 'fa',
 'cup',
 'final',
 'tkts',
 '21st',
 'may',
 '2005.',
 'text',
 'fa',
 'to',
 '87121',
 'to',
 'receiv',
 'entri',
 'question(std',
 'txt',
 'rate)t&c',
 'appli',
 '08452810075over18']

In [104]:
#Lemmitization
#before
d['text'][90]

['yeah',
 'do!',
 'donâ€˜t',
 'stand',
 'to',
 'close',
 'tho-',
 'youâ€˜ll',
 'catch',
 'something!']

In [105]:
import nltk
nltk.download('wordnet')
nltk.download('stopwords')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [106]:
from nltk.stem import WordNetLemmatizer
lemmatizer= WordNetLemmatizer()

def lemmit_it(text):
  return [lemmatizer.lemmatize(word,pos="a")for word in text]

In [107]:
d['text']=d['text'].apply(lemmit_it)

In [108]:
#after
d['text'][90]

['yeah',
 'do!',
 'donâ€˜t',
 'stand',
 'to',
 'close',
 'tho-',
 'youâ€˜ll',
 'catch',
 'something!']

In [109]:
#Stopword removal
from nltk.corpus import stopwords
stop_words = stopwords.words('english')

def stop_it(text):
  review=[word for word in text if not word in stop_words]
  return review

In [110]:
d['text']=d['text'].apply(stop_it)

In [111]:
d['text'][78]

['doe', 'oper', '&lt;#&gt;']

In [112]:
d.head()

   type                                               text  spam
0   ham  [go, jurong, point,, crazy.., avail, onli, bug...     0
1   ham                 [ok, lar..., joke, wif, u, oni...]     0
2  spam  [free, entri, 2, wkli, comp, win, fa, cup, fin...     1
3   ham  [u, dun, say, earli, hor..., u, c, alreadi, sa...     0
4   ham      [nah, think, goe, usf,, live, around, though]     0

In [113]:
d['text']=d['text'].apply(' '.join)
d.head()

   type                                               text  spam
0   ham  go jurong point, crazy.. avail onli bugi n gre...     0
1   ham                        ok lar... joke wif u oni...     0
2  spam  free entri 2 wkli comp win fa cup final tkts 2...     1
3   ham          u dun say earli hor... u c alreadi say...     0
4   ham              nah think goe usf, live around though     0

In [114]:
#Transforming TEXT data
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf=TfidfVectorizer()
y=d.spam.values
x=tfidf.fit_transform(d['text'])

In [115]:
x

<116x712 sparse matrix of type '<class 'numpy.float64'>'
	with 1081 stored elements in Compressed Sparse Row format>

In [120]:
from sklearn.model_selection import train_test_split
x_train,x_text,y_train,y_text = train_test_split(x,y,random_state=1,test_size=0.2)

In [121]:
from sklearn.linear_model import LogisticRegression
clf=LogisticRegression()
clf.fit(x_train,y_train)
y_pred=clf.predict(x_text)

In [122]:
from sklearn.metrics import accuracy_score
acc=accuracy_score(y_pred,y_text)*100
print(acc)

70.83333333333334